#topEarners {
  display: none;
  gap: 1rem;
  justify-content: space-between;

  &.visible {
    display: flex;
    animation-name: fade-in;
  }

  li {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      font-weight: bold;
      color: $primary;
    }
  }

  .employees {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 1rem;
  }

  .names {
    flex: 1;
  }

  .ids {
    li {
      font-family: 'Courier New', Courier, monospace;
      font-weight: normal;
      color: inherit;
    }
  }
}
