#transactionsWrapper {
  display: none;
  margin-top: 2rem;

  &.visible {
    display: block;
    animation-name: fade-in-later;
  }

  #topEarner {
    color: $primary;
    font-weight: bold;
  }

  #dataId {
    color: $medium;
    border-top: solid 1px $medium;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  p {
    font-size: 0.75rem;
    font-family: monospace;
    text-align: center;
  }
}
